body,html,.grid{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    border:0;
    font-family: Quicksand;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../font/quicksand.eot'); /* IE9 Compat Modes */
  src: url('../font/quicksand.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/quicksand.woff') format('woff'), /* Modern Browsers */
       url('../font/quicksand.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/quicksand.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 5px;
    grid-template-rows:150px 52px 900px 50px;
    justify-content: stretch;
	align-content: stretch;
}
.box1{
    grid-row: 1/2;
    grid-column: 1/13;
    z-index: 3;
    background:url(../imagini/iStock_000023462142_Large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box2{
    grid-row: 2/3;
    grid-column: 1/13;
    background-color:#115391;
    text-align: center;
}
.box4{
    grid-row: 3/4;
    grid-column: 1/13;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color:#115391;
    background: url("../imagini/kituri.jpg");
}
.box5{
    grid-row: 4/5;
    grid-column: 1/13;
    text-align: center;
    background-color: #115391;
    color:white;
}
.box1 h1{
    color:white;
    text-align: center;
    text-shadow: 2px 2px 5px grey;
    font-size: 50px;
    font-weight: bold;
}
.box{
    box-sizing: border-box;
    padding:20px;
}
.box1 h1 a{
    color:white;
    text-decoration: none;
}
.box2{
    margin:0;
    padding:0;
}
.box2 > ul {
    margin: 0 auto;
}

.box2 .menu-trigger {
    display: none;
}
.box2 > ul > li{
    list-style-type: none;
    display:inline-block;
    position: relative;
}
.box2 > ul > li > a {
    display: block;
    padding: 11px 10px;
    line-height: 30px;
    cursor: pointer;
}

ul.menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 275px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.4);
    background: white;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity .2s, visibility .2s, transform .2s;
}

ul.menu > li > a {
    display: block;
    padding: 5px 10px;
    transition: background .2s;
    text-decoration: none;
    color:black;
    font-weight: bold;
    
}

ul.menu > li:hover > a {
    background: #d4d4d4;
}

.box2 > ul > li:hover > ul.menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.box2 ul li a{
    color:black;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.material-icons{
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
#top{
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 99;
    outline: none;
    border:none;
    background-color:#115391;
    color:white;
    border-radius: 50%;
    padding:10px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#top:hover{
    background-color: #0e4171;
}
.grid1{
    height:100%;
    width:100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 5px;
    display: grid;
}
.box11{
    grid-row: 1/2;
    grid-column: 2/4;
}
.box12{
    grid-row: 2/3;
    grid-column: 2/4;
}
.box13{
    grid-row: 3/4;
    grid-column: 2/4;
}
.table{
    display: table;
    width:100%;
    height:100%;
    padding:0;
}
.mij{
    display: table-cell;
    vertical-align: middle;
}
.mij p{
    vertical-align: middle;
    font-size: 20px;
}
.grid1{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-row:80px 1fr;
    width: 100%;
    height:100%;
}
.box11{
    grid-row: 2/3;
    grid-column: 2/12;
}
.mij p a{
    color:black;
    text-decoration: none;
    transition-duration: 4s;
}
.mij p a:hover{
    transform: scale(2);
    -webkit-transform: scale(2);
}
#colorb{
    color:white;
}